body {
    overflow-x: hidden;
}

.main-image {
    min-height: 90vh;
    width: 100vw;
    background-image: url("https://jqw818.webwave.dev/files/dynamicContent/sites/jqw818/images/ro/webpage_20/lzqv8uyf/element_670/rwdMode_2/1536x710/Drone_FramePCB_Design_2024-Jul-31_06-15-08PM-000_CustomizedView1633478139.webp");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px gray;
}

.main-text {
    width: 100vw;
    height: 100vh;
    color: white;
    backdrop-filter: blur(10px) saturate(70%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-contactButton {
    color: white;
    background: black;
}

.main-procesare {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.main-procesare-cards {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-image-footer {
    max-height: 70vh;
    width: 100vw;
    background-image: url("https://jqw818.webwave.dev/files/dynamicContent/sites/jqw818/images/ro/webpage_20/lzqv8uyf/element_698/rwdMode_1/2400x532/IMG-20240713-WA0065.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 15px #888;
}

.main-text-footer {
    width: 100vw;
    height: 70vh;
    color: white;
    backdrop-filter: blur(10px) saturate(70%);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

