.pretcard {
    background-color: gray;
    margin: 0 20px;
    padding: 20px;
}

.checkmarktext {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.checkmarktext-checkmark {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.pretcard-button {
    background-color: black;
    color: white;
    padding: 5px 15px 5px 15px;
}

.pretcard-header {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1026px) {
    .pretcard  {
        margin-bottom: 20px;
        width: 90vw;
    }
}