.review-container{
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.box{
    background-color:gray;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
@media screen and (max-width: 1026px) {
    .review-container {
        grid-template-columns: auto;
    }
}