.customsubtitle-line {
    width: 10vw;
    border: 5px solid;
    margin: 3px;
}

@keyframes line {
    from {
        clip-path: inset(0 100% 0 0);
      }
      to {
        clip-path: inset(0 0 0 0);
      }
}
  
@media (prefers-reduced-motion: no-preference) {
    .customsubtitle-line {
        animation: line linear;
        animation-timeline: view();
        animation-range: contain;
    }
}

.customsubtitle{
    display: flex;
    flex-direction: column;
}